*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

/build/

/app/build/

/local.properties

/proguard-rules.pro

/.idea/workspace.xml
/.idea/libraries
/.idea/modules.xml
/.idea/gradle.xml
/.idea/misc.xml
/.idea/vcs.xml


/.idea/caches

/*.iml
/.gradle
/.DS_Store

.gradle/

/gradle/wrapper/gradle-wrapper.properties

/capture/

/lint/

/test/
/test-results/
